* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
/* Registration form */
.container {
    background-image: linear-gradient(to right bottom, #572faa, #00d5f2, #4dffe4);
    height: 100vh;
    padding-top: 60px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index : -1;
}

.registration {
    width: 90%;
    margin: 0 auto;
    background-color: black;
    height: 80%;
    background-color: rgba(134, 134, 134, 0.6);

}
/* right body */
.poster{
    width: 50%;
    height: 100%;
    float: right;
    
}
.poster img {
    max-height: 90%;
    max-width: 90%;
    display: inline-block;
    vertical-align: middle;
    height: 80%;
    margin-left: 28%;
    margin-top: 8%;
    width: auto;
}
/* left body */
.form {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;   
    margin-top: 15px;
    max-width: 50%;
}
/* form header */
.regis-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    background-color: rgb(44, 42, 42);
    border-radius: 10px 10px 0 0;
    height: 8%;
    width: 90%;
    margin: auto;
}
.regis-header img{
    margin-left: -10px;
}
.regis-header .title {
    font-size: 1rem;
    font-weight: bold;
    color: white;   
    margin-left: -10px;
}
.regis-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.815);

}
/* input form  */
form{
    width: 80%;
    max-width: 80%;
}
.form h1 {
    font-weight: 900;
    color: #58493f;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 10px;
    padding-left: 10px;
}
.form input {
    width: 90%;
    padding: 0 30px 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #141E75;
    outline: none;
    background-color: rgba(134, 134, 134, 0);
    color: #fff;
    max-width: 90%;
}
#fas {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 50%;
}
.form input:focus {
    border-bottom: 1px solid #EEEEEE;
}

.form .submit {
    width: 90%;
    padding: 10px;
    background-color: #EEEEEE;
    color: #08022e;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    opacity: .9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.submit.active {
    display: none;
}
.prove {
    color: #58493f;
    font-size: 12px;
    padding: 0 0 5px 5px;
    font-weight: 600;
}

.error-message {
    font-size: 12px;
    color: #ff0000;
    text-align: start;
    visibility: hidden;
}

.form select {
    border-radius: 5px;
    height: 25px;
    background-color: white;
    text-align: center;
    width: 90%;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* menghilangkan tanpilan pada input number */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Success text */
.success {
    width: 100%;
    background-color: #64c764;
    padding: 10px 0;
    border-radius: 10px;
    margin: 0 0 15px 0;
    width: 90%;
    box-shadow: 0 0 5px 2px black;
    display: flex;
    justify-content: space-between;
    padding: 10px ;
    margin-top: -10px;
}
.success a{
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.success p {
    font-size: 14px;
    font-weight: 400;
    color: black;
}
.success.active {
    display: none;
}
/* Loading effect */
.loading {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 10px;
    background-color: #EEEEEE;
    color: #0F044C;
    border: none;
    border-radius: 20px;
    opacity: .9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.loading.active {
    display: none;
}
.lds-dual-ring {
    height: auto;
    background-color: #EEEEEE;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 4px solid rgb(0, 0, 0);
    border-color: #08022e transparent rgb(0, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
/* incase need */
