/* phone */
/* ipad mini */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1150px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    header {
        justify-content: space-between;
        padding: 0 0;
        height: 80px;
    }
    .left-header {
        padding-left: 15px;
    }
    .right-header a{
        padding: 5px 10px;
        margin: 0 10px;
    }
    .right-header {
        padding-right: 25px;
    }
    .container {
        height: 900px;
    }
    .container .title {
        top: 40%;
        left: 50%;
        transform: translate(-50%,-40%);
    }
    .container h1{
        font-size: 42px;
        line-height: 30px;
    }
    .container p{
        font-size: 16px;
        font-weight: 400;
        padding-top: 40px;
    }

    .information {
        padding-top: 0px;
        top: 900px;
        height: 800px;
    }
    .event h3 {
        font-size: 18px;
    }
    .event img {
        width: 35%;
    }
    .event-info p {
        line-height: 20px;
        font-size: 16px;
    }
    .event-info a{
        font-size: .8em;
        line-height: 50px;
    }
    .event h3 {
        margin-bottom: 50px;
    }
    .sticky{
        height: 60px;
    }
    .member {
        top: 1700px;
    }
    .grid {
        display: grid;
        grid-template-columns: [first] 150px [line2] 150px 150px [end];;
        grid-template-rows: [row1-start] 300px [row1-end] 300px [third-line] 300px [last-line];
        justify-content: center;
    }
    section {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    article {
        border-radius: 25px;
        width: 150px;
        height: 150px;
        box-shadow: 0px 0px 50px 0px #000000;
        color: rgba(0, 0, 0, 0);
        align-items: center;
        margin-bottom: 210px;
    }
    article img {
        height: 150px;
    }
    article .text {
        text-align: center;
        transform: scale(0);
        transition: 1ms step-end;
    }
    .text.active {
        transform: scale(1);
        transition: 1ms step-start;
    }
    
    article p {
        font-size: 13px;
        padding: 0 5px 20px 5px;
    }
    article h3 {
        font-size: 10px;
        padding: 15px 5px 5px 5px;
    }
    article .position {
        font-size: 15px;
        font-weight: 800;
    }

    .regis-body .poster {
        display: none;
    }
    .form-body {
        height: 70%;
        max-width: 100%;
        width: 100%;
        float: none;
        margin-top: 25px;
    }
    .login-btn {
        margin-top: 50px;
    }
    .form-body .btn {
        width: 100%;
        margin-bottom: 25px;
    }

    .prove {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .regis {
        height: auto;
    }

}
@media only screen 
  and (min-device-width: 700px) 
  and (max-device-width: 900px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    header {
        padding: 0 0;
        height: 80px;
    }
    .left-header {
        padding-left: 15px;
    }
    .right-header a{
        display: none;
    }
    .right-header .button {
        display: block;
    }
    .right-header {
        padding-right: 25px;
    }
    .container {
        height: 700px;
    }
    .container .title {
        top: 35%;
        left: 50%;
        transform: translate(-50%,-35%);
    }
    .container h1{
        font-size: 34px;
        line-height: 30px;
    }
    .container p{
        font-size: 16px;
        font-weight: 400;
        padding-top: 25px;
    }

    .information {
        padding-top: 0px;
        top: 700px;
        height: 750px;
    }
    .event img {
        width: 45%;
    }
    .event-info p {
        line-height: 20px;
        font-size: 14px;
    }
    .event-info a{
        font-size: .7em;
        line-height: 50px;
    }
    .event h3 {
        margin-bottom: 50px;
    }
    .sticky{
        height: 60px;
    }
    .member {
        top: 1450px;
    }
    .grid {
        grid-template-columns: [first] 150px [line2] 150px 150px [end];;
        grid-template-rows: [row1-start] 300px [row1-end] 300px [third-line] 300px [last-line];
        justify-content: center;
    }
    section {
        width: 90%;
    }
    article {
        border-radius: 25px;
        width: 150px;
        height: 150px;
    }
    article img {
        height: 150px;
    }
    article p {
        font-size: 13px;
        padding: 0 5px 20px 5px;
    }
    article h3 {
        font-size: 10px;
        padding: 15px 5px 5px 5px;
    }
    article .position {
        font-size: 15px;
        font-weight: 800;
    }
    .regis-body .poster {
        display: none;
    }
    .form-body {
        height: 70%;
        max-width: 100%;
        width: 100%;
        float: none;
        margin-top: 25px;
    }
    .login-btn {
        margin-top: 50px;
    }
    .form-body .btn {
        width: 100%;
        margin-bottom: 25px;
    }
    .prove {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .regis {
        height: auto;
    }
}

@media only screen 
  and (min-device-width: 575px) 
  and (max-device-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    header {
        padding: 0 0;
        height: 80px;
    }
    .left-header {
        padding-left: 15px;
    }
    .right-header a{
        display: none;
    }
    .right-header .button {
        display: block;
    }
    .right-header {
        padding-right: 25px;
    }
    .container {
        height: 700px;
    }
    .container .title {
        top: 35%;
        left: 50%;
        transform: translate(-50%,-35%);
    }
    .container h1{
        font-size: 34px;
        line-height: 30px;
    }
    .container p{
        font-size: 16px;
        font-weight: 400;
        padding-top: 25px;
    }

    .information {
        padding-top: 0px;
        top: 700px;
        height: 700px;
    }
    .event img {
        width: 50%;
    }
    .event-info p {
        line-height: 20px;
        font-size: 12px;
    }
    .event-info a{
        font-size: .7em;
        line-height: 50px;
    }
    .event h3 {
        margin-bottom: 50px;
    }
    .sticky{
        height: 60px;
    }
    .member {
        top: 1400px;
    }
    .grid {
        grid-template-columns: [first] 150px [line2] 150px 150px [end];;
        grid-template-rows: [row1-start] 300px [row1-end] 300px [third-line] 300px [last-line];
        justify-content: center;
    }
    section {
        width: 90%;
    }
    article {
        border-radius: 25px;
        width: 150px;
        height: 150px;
    }
    article img {
        height: 150px;
    }
    article p {
        font-size: 13px;
        padding: 0 5px 20px 5px;
    }
    article h3 {
        font-size: 10px;
        padding: 15px 5px 5px 5px;
    }
    article .position {
        font-size: 15px;
        font-weight: 800;
    }
    .regis-body .poster {
        display: none;
    }
    .form-body {
        height: 70%;
        max-width: 100%;
        width: 100%;
        float: none;
        margin-top: 25px;
    }
    .login-btn {
        margin-top: 50px;
    }
    .form-body .btn {
        width: 100%;
        margin-bottom: 25px;
    }
    .prove {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .regis {
        height: auto;
    }
}
@media only screen 
and (min-device-width: 400px) 
and (max-device-width: 575px) 
and (-webkit-min-device-pixel-ratio: 1) {
    header {
        padding: 0 0;
        height: 60px;
    }
    .left-header {
        padding-left: 5px;
    }
    .right-header a{
        display: none;
    }
    .right-header .button {
        display: block;
    }
    .right-header {
        padding-right: 15px;
    }

    .container {
        height: 600px;
    }
    .container .title {
        top: 30%;
        left: 50%;
        transform: translate(-50%,-30%);
    }
    .container h1{
        font-size: 28px;
        line-height: 30px;
    }
    .container p{
        font-size: 12px;
        font-weight: 400;
        padding-top: 25px;
    }

    .information {
        padding-top: 0px;
        top: 600px;
        height: 600px;
    }
    .event img {
        width: 50%;
    }
    .event-info p {
        line-height: 20px;
        font-size: 12px;
    }
    .event-info a{
        font-size: .7em;
        line-height: 50px;
    }
    .event h3 {
        margin-bottom: 50px;
    }
    .sticky{
        height: 60px;
    }
    .member {
        top: 1200px;
    }
    .grid {
        grid-template-columns: [first] 80px [line2] 80px 80px [end];;
        grid-template-rows: [row1-start] 235px [row1-end] 235px [third-line] 235px [last-line];
        justify-content: center;
    }
    article {
        border-radius: 25px;
        width: 100px;
        height: 100px;

    }
    article img {
        height: 100px;
    }
    article p {
        font-size: 10px;
        padding: 0 5px 20px 5px;
    }
    article h3 {
        font-size: 10px;
        padding: 15px 5px 5px 5px;
    }
    article .position {
        font-size: 12px;
        font-weight: 600;
    }
    .regis-body .poster {
        display: none;
    }
    .form-body {
        height: 70%;
        max-width: 100%;
        width: 100%;
        float: none;
        margin-top: 25px;
    }

    .login-btn {
        margin-top: 50px;
    }
    .form-body .btn {
        width: 100%;
        margin-bottom: 25px;
    }
    .prove {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .regis {
        height: auto;
    }

}


@media only screen  
and (min-device-width: 302px)
and (max-device-width: 400px) {
    header {
        padding: 0 0;
        height: 50px;
    }
    .left-header {
        padding-left: 5px;
    }
    .left-header h4{
        font-size: 12px;
        letter-spacing: normal;
    }
    .left-header img{
        height: 35px;
    }
    .right-header li .button {
        padding:5px 10px;
        font-size: 12px;
        display: block;
    }
    .right-header a{
        display: none;
    }
    .right-header {
        padding-right: 15px;
    }
    .container {
        height: 500px;
    }
    .container .title {
        top: 30%;
        left: 50%;
        transform: translate(-50%,-30%);
    }
    .container h1{
        font-size: 24px;
        line-height: 30px;
    }
    .container p{
        font-size: 10px;
        font-weight: 400;
        padding-top: 25px;
    }

    .information {
        padding-top: 15px;
        top: 500px;
        height: 500px;
    }
    .event img {
        width: 50%;
    }
    .event-info p {
        line-height: 20px;
        font-size: 12px;
    }
    .event-info a{
        font-size: .7em;
        line-height: 50px;
    }
    .event h3 {
        margin-bottom: 50px ;
    }

    section{
        width: 85%;
        margin: 0 0;
    }
    .grid {
        grid-template-columns: [first] 35px [line2] 35px 35px [end];
        grid-template-rows: [row1-start] 200px [row1-end] 200px [third-line] 200px [last-line];
    }
    article {
        border-radius: 25px;
        width: 80px;
        height: 80px;
        box-shadow: 0px 0px 50px 0px #000000;
        color: rgba(0, 0, 0, 0);
        align-items: center;
        margin-bottom: 210px;
    }
    article img {
        height: 80px;
    }
    article p {
        font-size: 8px;
        padding: 0 5px 20px 5px;
    }
    article h3 {
        font-size: 8px;
        padding: 15px 5px 5px 5px;
    }
    article .position {
        font-size: 10px;
        font-weight: 600;
    }
    .sticky{
        height: 50px;
    }
    .member {
        top: 1000px;
    }
}
@media( max-device-width:301px ){
    header {
        padding: 0 0;
        height: 40px;
    }
    .left-header {
        padding-left: 10px;
    }
    .left-header h4{
        font-size: 10px;
        letter-spacing: normal;
    }
    .left-header img{
        height: 20px;
    }
    .right-header li .button {
        padding:5px 15px;
        font-weight: 600;
        word-spacing: 0;
    }
    .sticky {
        height: 40px;
    }
    .right-header a{
        display: none;
        
    }
    .right-header .button {
        display: block;
        font-size: 8px;
    }
    .right-header {
        padding-right: 15px;
    }
    .container {
        height: 400px;
    }
    .container .title {
        top: 30%;
        left: 50%;
        transform: translate(-50%,-40%);
    }
    .container h1{
        font-size: 12px;
        word-spacing: 5px;
        font: 600;
    }
    .container p{
        font-size: 8px;
        font-weight: 300;
        padding-top: 20px;
    }

    .information {
        height: 450px;
        top: 400px;
        padding-top: 0;
    }
    .event h3 {
        font-size: 13px;
        border-bottom: 2px solid black;
        width: 60%;
        color: rgb(0, 0, 0);
        margin-bottom: 50px;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .event img {
        width: 50%;
    }
    .event-info p {
        line-height: 20px;
        font-size: 12px;
    }
    .event-info a{
        font-size: .7em;
        line-height: 50px;
    }
    section{
        width: 80%;
        margin-right: 35%;
    }
    .grid {
        grid-template-columns: 10px ;
        grid-template-rows:  200px 200px 200px 200px 200px 200px 200px 200px 200px;
    }
    article {
        border-radius: 25px;
        width: 80px;
        height: 80px;
        margin-bottom: 210px;
    }
    article img {
        height: 80px;
    }
    article p {
        font-size: 8px;
        padding: 0 5px 20px 5px;
    }
    article h3 {
        font-size: 8px;
        padding: 15px 5px 5px 5px;
    }
    article .position {
        font-size: 10px;
        font-weight: 600;
    }
    .regis-body .poster {
        display: none;
    }
    .form-body {
        height: 70%;
        max-width: 100%;
        width: 100%;
        float: none;
        font-size: 16px;
        margin-top: 25px;
    }
    .form-body .form {
        height: 100%;
        width: 80%;
        margin: auto;
        padding: 20px;
    }
    .login-btn {
        margin-top: 50px;
    }
    .form-body .btn {
        width: 100%;
        margin-bottom: 25px;
    }
    .prove {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .regis {
        height: auto;
    }
    .member {
        top: 850px;
    }
}