/* phone */
/* ipad pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .regis-body .poster {
        max-width: 50%;
        width: 50%;
        float: left;
        height: 100%;
        text-align: center;
        position: relative;
    }
    .poster img {
        display: inline-block;
        vertical-align: middle;
        height: 80%;
        width: auto;
        margin: 9%;
        border: 5px solid rgb(255, 255, 255);
        box-shadow: 0 0 10px -.8px rgb(34, 162, 194);
    }
    .regis {
        height: 70%;
    }
}
/* ipad mini */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    header {
        justify-content: space-between;
        padding: 0 0;
        height: 80px;
    }
    .left-header {
        padding-left: 15px;
    }
    .right-header a{
        padding: 5px 10px;
        margin: 0 10px;
    }
    .right-header {
        padding-right: 25px;
    }
    .container .title {
        top: 40%;
        left: 50%;
        transform: translate(-50%,-40%);
    }
    .container h1{
        font-size: 70px;
        line-height: 100px;
    }
    .container p{
        font-size: 18px;
        font-weight: 300;
    }

    .information {
        height: 30vh;
        padding-top: 25px;
    }
    .member {
        top: 130vh;
    }
    .grid {
        display: grid;
        grid-template-columns: [first] 150px [line2] 150px 150px [end];;
        grid-template-rows: [row1-start] 300px [row1-end] 300px [third-line] 300px [last-line];
        justify-content: center;
    }
    section {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    article {
        border-radius: 25px;
        width: 150px;
        height: 150px;
        box-shadow: 0px 0px 50px 0px #000000;
        color: rgba(0, 0, 0, 0);
        align-items: center;
        margin-bottom: 210px;
    }
    article img {
        height: 150px;
    }
    article .text {
        text-align: center;
        transform: scale(0);
        transition: 1ms step-end;
    }
    .text.active {
        transform: scale(1);
        transition: 1ms step-start;
    }
    
    article p {
        font-size: 13px;
        padding: 0 5px 20px 5px;
    }
    article h3 {
        font-size: 10px;
        padding: 15px 5px 5px 5px;
    }
    article .position {
        font-size: 15px;
        font-weight: 800;
    }

    .regis-body .poster {
        display: none;
    }
    .form-body {
        height: 70%;
        max-width: 100%;
        width: 100%;
        float: none;
        font-family: "Monserrat", sans-serif;
        font-size: 16px;
        margin-top: 25px;
    }
    .form-body .form {
        height: 100%;
        width: 80%;
        margin: auto;
        padding: 20px;
    }
    .login-btn {
        margin-top: 50px;
    }
    .form-body .btn {
        width: 100%;
        margin-bottom: 25px;
    }

    .prove {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .regis {
        height: auto;
    }
}
@media only screen 
  and (min-device-width: 575px) 
  and (max-device-width: 875px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    header {
        justify-content: space-between;
        padding: 0 0;
        height: 80px;
    }
    .left-header {
        padding-left: 15px;
    }
    .right-header a{
        display: none;
    }
    .right-header {
        padding-right: 25px;
    }
    .container .title {
        top: 40%;
        left: 50%;
        transform: translate(-50%,-40%);
    }
    .container h1{
        font-size: 70px;
        line-height: 100px;
    }
    .container p{
        font-size: 18px;
        font-weight: 300;
    }

    .information {
        height: 30vh;
        padding-top: 25px;
    }
    .member {
        top: 130vh;
    }
    .grid {
        display: grid;
        grid-template-columns: [first] 150px [line2] 150px 150px [end];;
        grid-template-rows: [row1-start] 300px [row1-end] 300px [third-line] 300px [last-line];
        justify-content: center;
    }
    section {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    article {
        border-radius: 25px;
        width: 150px;
        height: 150px;
        box-shadow: 0px 0px 50px 0px #000000;
        color: rgba(0, 0, 0, 0);
        align-items: center;
        margin-bottom: 210px;
    }
    article img {
        height: 150px;
    }
    article .text {
        text-align: center;
        transform: scale(0);
        transition: 1ms step-end;
    }
    .text.active {
        transform: scale(1);
        transition: 1ms step-start;
    }
    
    article p {
        font-size: 13px;
        padding: 0 5px 20px 5px;
    }
    article h3 {
        font-size: 10px;
        padding: 15px 5px 5px 5px;
    }
    article .position {
        font-size: 15px;
        font-weight: 800;
    }

    .regis-body .poster {
        display: none;
    }
    .form-body {
        height: 70%;
        max-width: 100%;
        width: 100%;
        float: none;
        font-family: "Monserrat", sans-serif;
        font-size: 16px;
        margin-top: 25px;
    }
    .form-body .form {
        height: 100%;
        width: 80%;
        margin: auto;
        padding: 20px;
    }
    .login-btn {
        margin-top: 50px;
    }
    .form-body .btn {
        width: 100%;
        margin-bottom: 25px;
    }

    .prove {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .regis {
        height: auto;
    }
}

@media only screen 
and (min-device-width: 400px) 
and (max-device-width: 575px) 
and (-webkit-min-device-pixel-ratio: 1) {
    header {
        justify-content: space-between;
        padding: 0 0;
        height: 80px;
    }
    .left-header {
        padding-left: 5px;
    }
    .right-header a{
        display: none;
    }
    .right-header {
        padding-right: 15px;
    }
    .container .title {
        top: 40%;
        left: 50%;
        transform: translate(-50%,-40%);
    }
    .container h1{
        font-size: 58px;
        line-height: 75px;
    }
    .container p{
        font-size: 18px;
        font-weight: 300;
        padding-top: 25px;
    }

    .information {
        height: 30vh;
        padding-top: 25px;
    }
    .member {
        top: 130vh;
    }
    .grid {
        display: grid;
        grid-template-columns: [first] 80px [line2] 80px 80px [end];;
        grid-template-rows: [row1-start] 250px [row1-end] 250px [third-line] 250px [last-line];
        justify-content: center;
    }
    article {
        border-radius: 25px;
        width: 100px;
        height: 100px;
        box-shadow: 0px 0px 50px 0px #000000;
        color: rgba(0, 0, 0, 0);
        align-items: center;
        margin-bottom: 210px;
    }
    article img {
        height: 100px;
    }
    article p {
        font-size: 10px;
        padding: 0 5px 20px 5px;
    }
    article h3 {
        font-size: 10px;
        padding: 15px 5px 5px 5px;
    }
    article .position {
        font-size: 12px;
        font-weight: 600;
    }
    .regis-body .poster {
        display: none;
    }
    .form-body {
        height: 70%;
        max-width: 100%;
        width: 100%;
        float: none;
        font-family: "Monserrat", sans-serif;
        font-size: 16px;
        margin-top: 25px;
    }
    .form-body .form {
        height: 100%;
        width: 80%;
        margin: auto;
        padding: 20px;
    }
    .login-btn {
        margin-top: 50px;
    }
    .form-body .btn {
        width: 100%;
        margin-bottom: 25px;
    }

    .prove {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .regis {
        height: auto;
    }
}


@media only screen  
and (min-device-width: 300px)
and (max-device-width: 400px) {
    header {
        justify-content: space-between;
        padding: 0 0;
        height: 80px;
    }
    .left-header {
        padding-left: 5px;
    }
    .left-header h4{
        font-size: 10px;
        letter-spacing: normal;
    }
    .left-header img{
        height: 35px;
    }
    .right-header li button{
        font-size: 10px;
    }
    .right-header li button {
        border-radius:100px;
        padding:5px 10px;
    }
    .right-header a{
        display: none;
    }
    .right-header {
        padding-right: 15px;
    }
    .container .title {
        top: 40%;
        left: 50%;
        transform: translate(-50%,-40%);
    }
    .container h1{
        font-size: 38px;
        line-height: 60px;
    }
    .container p{
        font-size: 14px;
        font-weight: 300;
        padding-top: 25px;
    }

    .information {
        height: 30vh;
        padding-top: 25px;
    }
    .member {
        top: 130vh;
    }
    section{
        width: 85%;
        margin: 0 0;
    }
    .grid {
        display: grid;
        grid-template-columns: [first] 35px [line2] 35px 35px [end];
        grid-template-rows: [row1-start] 200px [row1-end] 200px [third-line] 200px [last-line];
        justify-content: center;
    }
    article {
        border-radius: 25px;
        width: 80px;
        height: 80px;
        box-shadow: 0px 0px 50px 0px #000000;
        color: rgba(0, 0, 0, 0);
        align-items: center;
        margin-bottom: 210px;
    }
    article img {
        height: 80px;
    }
    article p {
        font-size: 8px;
        padding: 0 5px 20px 5px;
    }
    article h3 {
        font-size: 8px;
        padding: 15px 5px 5px 5px;
    }
    article .position {
        font-size: 10px;
        font-weight: 600;
    }
    .regis-body .poster {
        display: none;
    }
    .form-body {
        height: 70%;
        max-width: 100%;
        width: 100%;
        float: none;
        font-family: "Monserrat", sans-serif;
        font-size: 16px;
        margin-top: 25px;
    }
    .form-body .form {
        height: 100%;
        width: 80%;
        margin: auto;
        padding: 20px;
    }
    .login-btn {
        margin-top: 50px;
    }
    .form-body .btn {
        width: 100%;
        margin-bottom: 25px;
    }

    .prove {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .regis {
        height: auto;
    }
}
@media( max-device-width:300px ){
    header {
        justify-content: space-between;
        padding: 0 0;
        height: 80px;
    }
    .left-header {
        padding-left: 5px;
    }
    .left-header h4{
        font-size: 10px;
        letter-spacing: normal;
    }
    .left-header img{
        height: 35px;
    }
    .right-header li button{
        font-size: 10px;
    }
    .right-header li button {
        border-radius:100px;
        padding:5px 10px;
    }
    .right-header a{
        display: none;
    }
    .right-header {
        padding-right: 15px;
    }
    .container .title {
        top: 40%;
        left: 50%;
        transform: translate(-50%,-40%);
    }
    .container h1{
        font-size: 24px;
        line-height: 30px;
    }
    .container p{
        font-size: 8px;
        font-weight: 300;
        padding-top: 25px;
    }

    .information {
        height: 30vh;
        padding-top: 25px;
    }
    .member {
        top: 130vh;
    }
    section{
        width: 80%;
        margin-right: 35%;

    }
    .grid {
        display: grid;
        grid-template-columns: 10px ;
        grid-template-rows:  200px 200px 200px 200px 200px 200px 200px 200px 200px;
        justify-content: center;
    }
    article {
        border-radius: 25px;
        width: 80px;
        height: 80px;
        box-shadow: 0px 0px 50px 0px #000000;
        color: rgba(0, 0, 0, 0);
        align-items: center;
        margin-bottom: 210px;
    }
    article img {
        height: 80px;
    }
    article p {
        font-size: 8px;
        padding: 0 5px 20px 5px;
    }
    article h3 {
        font-size: 8px;
        padding: 15px 5px 5px 5px;
    }
    article .position {
        font-size: 10px;
        font-weight: 600;
    }
    .regis-body .poster {
        display: none;
    }
    .form-body {
        height: 70%;
        max-width: 100%;
        width: 100%;
        float: none;
        font-family: "Monserrat", sans-serif;
        font-size: 16px;
        margin-top: 25px;
    }
    .form-body .form {
        height: 100%;
        width: 80%;
        margin: auto;
        padding: 20px;
    }
    .login-btn {
        margin-top: 50px;
    }
    .form-body .btn {
        width: 100%;
        margin-bottom: 25px;
    }

    .prove {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .regis {
        height: auto;
    }
}